/* CSS reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
}

body{
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #919191;
    color: #1f1f1f;
}

.containerPrim{
    width: 1000px;
    background-color: #397e1e;
    border-radius: 20px;
}

main section{
    display: flex;
    justify-content: center;
    background-color: #e6e6e6;
    border-color: #1f1f1f;
    border-radius: 20px;
    margin: 5px 0;
}

.regra{
    flex-direction: column;
    align-items: center;
}

.espacoUser{
    flex-direction: column;
    align-items: center;
}

.listaChute{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.textoLabel{
    margin-right: 1rem;
}

.resultado{
    min-height: 1.5em;
}